@page "/"
@using AP.FamilyTree.Web.Data.SharedService
@using Microsoft.Extensions.Logging
@inherits AP.FamilyTree.Web.PageModels.BaseViewModel
<h1>Hello, world!</h1>

Welcome to your new app.

@code
{
    protected override void OnInitialized()
    {
        try
        {
           // throw new Exception();
        }
        catch (Exception ex)
        {
            Logger.LogError(ex, $"user1234*Error: ZertifikatModule/OnInitializedAsync");

        }
    }
}
