@{
    ViewData["Title"] = "Подтверждение сброса пароля";
    Layout = "Layout";
}

<h2>@ViewData["Title"]</h2>
<p>
    Ваш пароль сброшен. Для входа в приложение перейдите по <a href="login">ссылке</a>.
</p>