@inherits LayoutComponentBase

@*<div class="page">*@
    
    <NavMenu />
    <div class="main">
        @*
        <div class="top-row px-4 auth">
             <LoginDisplay />
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>
        *@
        <div class="content pl-3 pr-3">
            @Body
        </div>
    </div>
@*</div>*@
